<!doctype html>
<meta charset="utf-8">
<script src="http://code.jquery.com/jquery-latest.min.js" ></script>
o:<input type='text' name='codice' id='codice'/><br />

<button  onClick='ricerca()' > 
		
		</a> </button><br />
<script> 


function ricerca(){




var testo= $('#codice').val();
	console.log(testo);







  
    $(function(){ 
    
	
            $.ajax({
                url: 'https://api.mlab.com/api/1/databases/totaldb/collections/muvere?q={%22$text%22:{%22$search%22:%22'+testo+'%22}}&apiKey=L6qWg_ywFMmEoU3k-rnZpAlKwIvhA1E1',
                type: 'get',
                dataType: 'json',
                jsonp: 'json'                                                                                   
            })
            .done(function(data) {
			
			
			
			
			
			
			d=JSON.stringify(data);
			$.each(data, function(a,lista){
		    
			$("#risultato").append("<hr></hr>");
			$("#risultato").append(lista.index);
			$("#risultato").append(lista.id);
	       	$("#risultato").append("<img src="+lista.foto+"></img>");
			
			
			
			
			});
			
					
			
			
				
		
			});
			
			
			
			
			
				
			});
	
  
  

}; 
  </script>
  
  
  <div id="risultato"></div>
  
